@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Sacramento&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Antonio', sans-serif;
  /* font-family: 'Sacramento', cursive; */
}
.clearfix{
  content: '';
  display: block;
  clear: both;

}
header {
  position: relative;
  height: 100vh;
  background-color: #29a6dc;
  text-align: center;
  max-width: 1280px;
  margin:0 auto;
}
/* header > * {
  position: absolute;
} */
header img {
  position: absolute;
  width: 20%;
  top: 55%;
  right: 40%;
}
header.welcome {
  /* position: absolute;
  top: 10%;
  left: 5%;
  right: 5%; */
  text-align: center;
}
header .name {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  color: white;
}
header h2 {
  font-family: 'Antonio', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: white;
}
span{
    text-decoration: underline;
}
header button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}
header button:hover {
  color: #29a6dc;
  background-color: #fff;
  border-radius: 50px;
}
section {
  min-height: 30vh;
}
section.features{
  
  display: flex;
  justify-content: center;
  padding-left: 10px;
  
  margin-top: 50px;
  padding: 5%;
  text-align: center;
}
h1.alone{
  font-size: 34px;
  text-transform: uppercase;
 text-align: center;
 padding-top:50px;
 
 line-height: 30px;
 height: 30px;
}
.features h2{
  font-size: 18px;
  text-transform: uppercase;
}
.features img{
  width: 100%;
  margin:5px 0;
  max-width: 375px;
}
.project img{
  width: 100%;
  margin:100px 0;
  max-width: 375px;
}
.features p{
  font-size: 12px;
  font-weight: 300;
  margin:20px 0;
  text-align: center;
  padding: 30px;
}
footer p {
  text-align: center;
  font-family: 'Antonio', sans-serif;
}
.portfolio{
 display: flex;
 
 justify-content: center;
  max-width: 1280px;
  margin:20px auto;
}
.portfolio .about{
  color: white;
  font-weight: normal;
  padding: 10px 20px 20px 20px;
  text-align: left;
}
.portfolio .about h2{
  font-size: 18px;
  border-bottom: 2px solid #fff;
  margin-bottom:12px;
}
.portfolio .about p{
  font-size: 12px;
}
.portfolio .project:nth-of-type(odd){
  background-color: orange;
}
.portfolio .project:nth-of-type(even){
  background-color: lightblue;
}
.web .about{
  width: 50%; 
  float: left;
}
.slogan{
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background:url('motto.jpg');
  background-size:cover;
  background-position: top center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 30px 10px;
}
.slogan h1{
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.slogan p{
  font-size: 18px;
}
.pictures .item{
  min-height: 35vh;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
}
.pictures .item:nth-of-type(1){
  background-image: url('outdoor.jpg');

}
.pictures .item:nth-of-type(2){
  background-image: url('coding.jpg');

}
.pictures .item:nth-of-type(3){
  background-image: url('books.jpg');

}
.pictures .item:nth-of-type(4){
  background-image: url('food.jpg');

}
.pictures{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pictures img{
  width: 300px;
  
  /* max-width: 400px; */
}
.hobby .item p{
  color:white;
  padding: 0;
  text-align: center;
  line-height: 35vh;
  text-shadow: 0 0 4px black;
  background-color:rgba(0,0,0,0.5);
  opacity: 0;
  transition: 1s;
}
.hobby .item:hover p {
  opacity: 1;
}
.hobby .item{
  background-size: 100%;
  transition: 1s;
}
.hobby .item:hover{
  background-size: 130%;
}
@media (orientation: portrait) and (min-width: 280px) {
    header img {
      width: 40%;
      top: 55%;
      right: 30%;
    }
    header h1 {
      font-family: 'Sacramento', cursive;
      font-size: 40px;
      text-align: center;
      padding-top: 90px;
      color: white;
    }
    header h2 {
      font-family: 'Antonio', sans-serif;
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 40px;
      color: white;
    }
    header button {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      padding: 10px 30px;
      text-transform: uppercase;
      cursor: pointer;
    }
    header button:hover {
      color: #29a6dc;
      background-color: #fff;
    }
    .pictures{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .pictures img{
      width: 100%;
      margin:100px 0;
      max-width: 375px;
    }
@media (orientation: portrait) and (min-width: 320px) {
    header img {
      width: 40%;
      top: 55%;
      right: 30%;
    }
    header h1 {
      font-family: 'Sacramento', cursive;
      font-size: 40px;
      text-align: center;
      padding-top: 50px;
      color: white;
    }
    header h2 {
      font-family: 'Antonio', sans-serif;
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 40px;
      color: white;
    }
    header button {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      padding: 10px 30px;
      text-transform: uppercase;
      cursor: pointer;
    }
    header button:hover {
      color: #29a6dc;
      background-color: #fff;
    }
    .portfolio{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
       max-width: 1280px;
       margin:0 auto;
       margin-bottom: 40px;
     }
     .slogan{
      max-width: 1280px;
      margin: 0 auto;
      text-align: center;
      background:url('motto.jpg');
      background-size:cover;
      background-position: top center;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 30px 10px;
    }
@media (orientation: portrait) and (min-width: 360px) {
  header img {
    width: 45%;
    top: 60%;
    right: 28%;
  }
  header h1 {
    font-family: 'Sacramento', cursive;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    color: white;
  }
  header h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    color: white;
  }
  header button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
  }
  header button:hover {
    color: #29a6dc;
    background-color: #fff;
  }
  @media (orientation: portrait) and (min-width: 410px) {
    header img {
      width: 45%;
      top: 60%;
      right: 28%;
    }
    header h1 {
      font-family: 'Sacramento', cursive;
      font-size: 45px;
      text-align: center;
      padding-top: 70px;
      color: white;
    }
    header h2 {
      font-family: 'Antonio', sans-serif;
      font-size: 30px;
      margin-top: 40px;
      margin-bottom: 80px;
      color: white;
    }
    header button {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      padding: 10px 30px;
      text-transform: uppercase;
      cursor: pointer;
    }
    header button:hover {
      color: #29a6dc;
      background-color: #fff;
    }
  }
  
  @media (orientation: portrait) and (min-width: 768px) {
    header img {
      width: 40%;
      top: 55%;
      right: 30%;
    }
    header h1 {
      font-family: 'Sacramento', cursive;
      font-size: 90px;
      text-align: center;
      padding-top: 90px;
      color: white;
    }
    header h2 {
      font-family: 'Antonio', sans-serif;
      font-size: 60px;
      margin-top: 10px;
      margin-bottom: 70px;
      color: white;
    }
    header button {
        font-size: 30px;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      padding: 10px 30px;
      text-transform: uppercase;
      cursor: pointer;
    }
    header button:hover {
      color: #29a6dc;
      background-color: #fff;
    }
    
    @media (orientation: landscape) and (min-width: 640px) {
        header img {
          width: 100%;
          top: 15%;
          right: 40%;
        }
        header h1 {
          font-family: 'Sacramento', cursive;
          font-size: 30px;
          text-align: center;
          padding-top: 20px;
          color: white;
        }
        header h2 {
          font-family: 'Antonio', sans-serif;
          font-size: 30px;
          margin-top: 10px;
          margin-bottom: 40px;
          color: white;
        }
        header button {
          background-color: transparent;
          color: white;
          border: 1px solid white;
          padding: 10px 30px;
          text-transform: uppercase;
          cursor: pointer;
        }
        header button:hover {
          color: #29a6dc;
          background-color: #fff;
        }
    }
    @media (orientation: landscape) and (min-width: 767px)  {
        header img {
          width: 10%;
          top: 15%;
          right: 40%;
        }
        header h1 {
          font-family: 'Sacramento', cursive;
          font-size: 80px;
          text-align: center;
          padding-top: 20px;
          color: white;
        }
        header h2 {
          font-family: 'Antonio', sans-serif;
          font-size: 30px;
          margin-top: 10px;
          margin-bottom: 40px;
          color: white;
        }
        header button {
          background-color: transparent;
          color: white;
          border: 1px solid white;
          padding: 10px 30px;
          text-transform: uppercase;
          cursor: pointer;
        }
        header button:hover {
          color: #29a6dc;
          background-color: #fff;
        }
  
    }
